<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26388876818-96km3hvbg8krccdjagi3agngenvc9sac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26388876818-96km3hvbg8krccdjagi3agngenvc9sac</string>
	<key>API_KEY</key>
	<string>AIzaSyBoNywXBd2qAZ7z5eGJzIkaVT4_X54IC2s</string>
	<key>GCM_SENDER_ID</key>
	<string>26388876818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>scc.FirebasePractise</string>
	<key>PROJECT_ID</key>
	<string>fir-practise-8e471</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practise-8e471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26388876818:ios:445e97f87ae3f291d352cb</string>
</dict>
</plist>